<h1>ユーザ登録画面</h1>
<%= form_with(model: @user, local: true) do |f| %>
      
    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmation' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
<div class="login-box">
  <h1>Login</h1>
  <%= form_with(model: @user, local: true) do |f| %>
  <div class="text-box">
     <%= f.text_field :name%>
  </div>
  <div class="text-box">
      <%= f.text_field :email%>
  </div>
  <div class="text-box">
      <%= f.password_field :password%>
  </div>
  <div class="text-box">
      <%= f.password_field :password_confirmation%>
  </div>
     <%= f.submit 'Sign up', class: 'btn' %>
  <%end%>
</div>